/*Defining SCSS variable for color, sizing, spacing etc*/

$white: #FFFFFF;
$light_black: #343434;
$pitch_black: #000000;
$black_alt: #1a1a1a;
$grey: #C0C0C0;
$radius: 25px;

@mixin information($white){
  color: $white;
  font-size: 25px;
}
@mixin header-grid-info($white){
  background-color: $white;
  display: grid;
  animation-name: grid-color;
  animation-duration: 2s;
  animation-iteration-count: 1;

}
@keyframes grid-color{
  0% {background-color: $light_black; transform:scale(1.1); padding:1em;}
  5% {background-color: #3d3d3d;  transform:scale(1.12); padding:1em; }
  10% {background-color: #474747;  transform:scale(1.13); padding:1em; }
  15% {background-color: #515151; transform:scale(1.14); padding:1em; }
  20% {background-color: #686767;  transform:scale(1.15); padding:1em;}
  25% {background-color: #6d6d6d;  transform:scale(1.16); padding:1em;}
  30% {background-color: #777777;  transform:scale(1.17); padding:1em;}
  35% {background-color: #848484;  transform:scale(1.18); padding:1em;}
  40% {background-color: #8e8e8e;  transform:scale(1.19); padding:1em;}
  45% {background-color: #9e9e9e;  transform:scale(1.2); padding:1em;}
  50% {background-color: #a3a3a3; transform:scale(1.25); padding:1em; }
  55% {background-color: #a8a8a8;  transform:scale(1.3); padding:1em;}
  60% {background-color: #adadad;  transform:scale(1.35); padding:1em;}
  65% {background-color: #b7b7b7;  transform:scale(1.36); padding:1em;}
  70% {background-color: #bfbfbf;  transform:scale(1.37); padding:1em;}
  75% {background-color: #c1c1c1;  transform:scale(1.38); padding:1em;}
  80% {background-color: #c9c9c9;  transform:scale(1.39); padding:1em;}
  85% {background-color: #d8d8d8;  transform:scale(1.4); padding:1em;}
  90% {background-color: #dddddd;  transform:scale(1.41); padding:1em;}
  95% {background-color: #f2f2f2;  transform:scale(1.42); padding:1em;}
  100% {background-color: #ffffff;  transform:scale(1.45); padding:1em;}
}

@keyframes grid-color-static{
  0% {background-color: $light_black; }
  5% {background-color: #3d3d3d;  }
  10% {background-color: #474747; }
  15% {background-color: #515151; }
  20% {background-color: #686767; }
  25% {background-color: #6d6d6d; }
  30% {background-color: #777777; }
  35% {background-color: #848484; }
  40% {background-color: #8e8e8e;  }
  45% {background-color: #9e9e9e;  }
  50% {background-color: #a3a3a3; }
  55% {background-color: #a8a8a8;  }
  60% {background-color: #adadad;  }
  65% {background-color: #b7b7b7;  }
  70% {background-color: #bfbfbf; }
  75% {background-color: #c1c1c1; }
  80% {background-color: #c9c9c9; }
  85% {background-color: #d8d8d8; }
  90% {background-color: #dddddd; }
  95% {background-color: #f2f2f2; }
  100% {background-color: #ffffff; }
}




.header{
display: grid;
border-radius: $radius;
grid-area: 1/2/1/span 4;
grid-column-gap: 2px;
grid-row-gap: 2px;
background-color: $light_black; /*Come back to this*/
padding: 1em;
margin-bottom:0;
}

.graygrid{
  display: grid;
  border-radius: $radius;
  grid-area: 2/2/2/span 3;
  background-color: $light_black;
  grid-template-columns: repeat(14, 1fr);
  margin-top: 0;
  height: 50px;
  align-self: flex-start;
   /*Come back to this*/

}


.home-title-grid{
  display: grid;
  grid-area: 1/1/1/1;
}

.main1{
display: grid;
grid-column-gap: 0px;
grid-row-gap: 0px;
grid-area: 3/2/span 4/2;
border-color: $black_alt;

}
.main2{
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 3/3/span 4/3;

}

.sidebar-left{
display: grid;
grid-area: 3/1/span 4/1;


}


.footer{
  display: grid;
  background-color: $black_alt;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 4/1/4/span 4;
  border-radius: $radius;
}
.container{
  background-color: $white;
  display: grid;
  grid-template-columns:0.5fr 1fr 1fr;
  grid-template-rows: 2/8 minmax(50px,100px) auto 1fr ;
/*grid-auto-rows: minmax/*(100px, auto); /*Come back to this for responsive design*/
  align-items: center;


}
.fa-shopping-cart{
  color: $white;
  display: grid;
}

.shopping-cart-grid{
  grid-area: 1/12/1/12;
  display: grid;
}
.grid-square1{

grid-area: 1/2/1/2;
animation-name: grid-color-static;
animation-duration: 4s;
animation-iteration-count: infinite;
}

.grid-square2{
  grid-area: 1/3/1/3;
  animation-name: grid-color;
  animation-duration: 1.67s;
  animation-iteration-count: infinite;
}
.grid-square3{
  grid-area: 1/3/1/3;
  animation-name: grid-color;
  animation-duration: 3.04s;
  animation-iteration-count: infinite;
}
.grid-square4{
  @include header-grid-info($white);
    grid-area: 1/4/1/4;
}
.grid-square5{
  @include header-grid-info($white);
    grid-area: 1/5/1/5;
}
.grid-square6{
  @include header-grid-info($white);
    grid-area: 1/6/1/6;
}
.grid-square7{
  @include header-grid-info($white);
    grid-area:1/7/1/7;
}
.grid-square8{
  @include header-grid-info($white);
    grid-area:1/8/1/8;
}
.grid-square9{
  @include header-grid-info($white);
    grid-area:1/9/1/9;
}
.grid-square10{
  @include header-grid-info($white);
    grid-area:1/10/1/10;
}
.grid-square11{
  @include header-grid-info($white);
    grid-area:1/11/1/11;
}
.grid-square12{
  @include header-grid-info($white);
    grid-area:2/1/2/1;
}
.grid-square13{
    animation-name: grid-color;
    animation-duration: 3.09s;
    animation-iteration-count: infinite;
    grid-area:2/2/2/2;
}

.grid-square14{
  @include header-grid-info($white);
    grid-area:2/3/2/3;
}
.grid-square15{
  @include header-grid-info($white);
    grid-area:2/4/2/4;
}
.grid-square16{
  @include header-grid-info($white);
    grid-area:2/5/2/5;
}
.grid-square17{
  animation-name: grid-color;
  animation-duration: 4.15s;
  animation-iteration-count: infinite;
    grid-area:2/6/2/6;
}

.grid-square18{
  @include header-grid-info($white);
    grid-area:2/7/2/7;
}
.grid-square19{
  @include header-grid-info($white);
    grid-area:2/8/2/8;
    animation-name: grid-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.grid-square20{
  @include header-grid-info($white);
    grid-area:2/9/2/9;
}
.grid-square21{
  @include header-grid-info($white);
    grid-area:2/10/2/10;
    grid-area:3/9/3/9;
    animation-name: grid-color;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
}
.grid-square22{
  @include header-grid-info($white);
    grid-area:2/11/2/11;
    grid-area:3/9/3/9;
    animation-name: grid-color;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
}
.grid-square23{
  @include header-grid-info($white);
    grid-area:2/12/2/12;
}
.grid-square24{
  @include header-grid-info($white);
    grid-area:2/13/2/13;
    grid-area:3/9/3/9;
    animation-name: grid-color-static;
    animation-duration: 3.9;
    animation-iteration-count: infinite;
}
.grid-square25{
  @include header-grid-info($white);
    grid-area:2/14/2/14;
}
.grid-square26{
  @include header-grid-info($white);
    grid-area:3/1/3/1;
}
.grid-square27{
  @include header-grid-info($white);
    grid-area:3/2/3/2;
}
.grid-square28{
  @include header-grid-info($white);
  grid-area:3/3/3/3;
  animation-name: grid-color;
  animation-duration: 2.6s;
  animation-iteration-count: infinite;
}
.grid-square29{
  @include header-grid-info($white);
    grid-area:3/4/3/4;
}
.grid-square30{
  @include header-grid-info($white);
  grid-area:3/5/3/5;
}
.grid-square31{
  @include header-grid-info($white);
    grid-area:3/6/3/6;
    grid-area:3/9/3/9;
    animation-name: grid-color;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.grid-square32{
  @include header-grid-info($white);
    grid-area:3/7/3/7;
}
.grid-square33{
  @include header-grid-info($white);
    grid-area:3/8/3/8;
}
.grid-square34{
  @include header-grid-info($white);
  grid-area:3/9/3/9;
  animation-name: grid-color;
  animation-duration: 3.3s;
  animation-iteration-count: infinite;
}
.grid-square35{
  @include header-grid-info($white);
  grid-area:3/10/3/10;
}
.grid-square36{
  @include header-grid-info($white);
  grid-area:3/11/3/11;
}
.grid-square37{
  @include header-grid-info($white);
  grid-area:3/12/3/12;
}

.header-second-row{

}

.header-third-row{

}


h1{
  color: $white;
}
h2{
  color:$light_black;
}

.logo{
  display: grid;
  grid-area: 1/1/1/1;
  max-width: 200px;
  height: auto;
}


.info{
  @include information($white);
}
