/*Defining SCSS variable for color, sizing, spacing etc*/

$white: #FFFFFF;
$light_black: #343434;
$pitch_black: #000000;
$black_alt: #1a1a1a;
$grey: #C0C0C0;
$radius: 25px;

@mixin information($white){
  color: $white;
  font-size: 25px;
}
@mixin   grid-info($white){
  background-color: $white;
  display: grid;
  animation-name: grid-color-up;
  animation-duration: 2s;
  animation-iteration-count: 1;

}
@keyframes grid-color-up{
  0% {background-color: $light_black;    transform: translate(0px, -1px);}
  5% {background-color: #3d3d3d;      transform: translate(0px, -3px);}
  10% {background-color: #474747;      transform: translate(0px, -6px);}
  15% {background-color: #515151;     transform: translate(0px, -9px);}
  20% {background-color: #686767;      transform: translate(0px, -12px);}
  25% {background-color: #6d6d6d;      transform: translate(0px, -15px);}
  30% {background-color: #777777;      transform: translate(0px, -18px);}
  35% {background-color: #848484;      transform: translate(0px, -21px);}
  40% {background-color: #8e8e8e;      transform: translate(0px, -24px);}
  45% {background-color: #9e9e9e;      transform: translate(0px, -27px);}
  50% {background-color: #a3a3a3;     transform: translate(0px, -30px);}
  55% {background-color: #a8a8a8;     transform: translate(0px, -33px);}
  60% {background-color: #adadad;      transform: translate(0px, -36px);}
  65% {background-color: #b7b7b7;      transform: translate(0px, -39px);}
  70% {background-color: #bfbfbf;      transform: translate(0px, -42px);}
  75% {background-color: #c1c1c1;      transform: translate(0px, -45px);}
  80% {background-color: #c9c9c9;     transform: translate(0px, -46px);}
  85% {background-color: #d8d8d8; }
  90% {background-color: #dddddd; }
  95% {background-color: #f2f2f2;}
  100% {background-color: #ffffff;}
}

@keyframes grid-color-up-static{
  0% {background-color: $light_black; }
  5% {background-color: #3d3d3d;  }
  10% {background-color: #474747; }
  15% {background-color: #515151; }
  20% {background-color: #686767; }
  25% {background-color: #6d6d6d; }
  30% {background-color: #777777; }
  35% {background-color: #848484; }
  40% {background-color: #8e8e8e;  }
  45% {background-color: #9e9e9e;  }
  50% {background-color: #a3a3a3; }
  55% {background-color: #a8a8a8;  }
  60% {background-color: #adadad;  }
  65% {background-color: #b7b7b7;  }
  70% {background-color: #bfbfbf; }
  75% {background-color: #c1c1c1; }
  80% {background-color: #c9c9c9; }
  85% {background-color: #d8d8d8; }
  90% {background-color: #dddddd; }
  95% {background-color: #f2f2f2; }
  100% {background-color: #ffffff; }
}

@keyframes   grid-color-migrate-right{
  0% {background-color: $light_black; }
  5% {background-color: #3d3d3d; transform: translate(1px, -1px);}
  10% {background-color: #474747; transform: translate(3px, -3px);}
  15% {background-color: #515151; transform: translate(6px, -6px);}
  20% {background-color: #686767; transform: translate(9px, -9px);}
  25% {background-color: #6d6d6d; transform: translate(12px, -12px);}
  30% {background-color: #777777; transform: translate(15px, -15px);}
  35% {background-color: #848484; transform: translate(18px, -18px);}
  40% {background-color: #8e8e8e;  transform: translate(21px, -21px);}
  45% {background-color: #9e9e9e;  transform: translate(24px, -24px);}
  50% {background-color: #a3a3a3; transform: translate(27px, -27px);}
  55% {background-color: #a8a8a8;  transform: translate(30px, -30px);}
  60% {background-color: #adadad;  transform: translate(33px, -33px);}
  65% {background-color: #b7b7b7;  transform: translate(36px, -36px);}
  70% {background-color: #bfbfbf; transform: translate(39px, -39px);}
  75% {background-color: #c1c1c1; transform: translate(42px, -42px);}
  80% {background-color: #c9c9c9; }
  85% {background-color: #d8d8d8; }
  90% {background-color: #dddddd; }
  95% {background-color: #f2f2f2; }
}
@keyframes   grid-color-migrate-left{
  0% {background-color: $light_black; }
  5% {background-color: #3d3d3d; transform: translate(1px, 1px);}
  10% {background-color: #474747; transform: translate(3px, 3px);}
  15% {background-color: #515151; transform: translate(6px, 6px);}
  20% {background-color: #686767; transform: translate(9px, 9px);}
  25% {background-color: #6d6d6d; transform: translate(12px, 12px);}
  30% {background-color: #777777; transform: translate(15px, 15px);}
  35% {background-color: #848484; transform: translate(18px, 18px);}
  40% {background-color: #8e8e8e;  transform: translate(21px, 21px);}
  45% {background-color: #9e9e9e;  transform: translate(24px, 24px);}
  50% {background-color: #a3a3a3; transform: translate(27px, 27px);}
  55% {background-color: #a8a8a8;  transform: translate(30px, 30px);}
  60% {background-color: #adadad;  transform: translate(33px, 33px);}
  65% {background-color: #b7b7b7;  transform: translate(36px, 36px);}
  70% {background-color: #bfbfbf; transform: translate(39px, 39px);}
  75% {background-color: #c1c1c1; transform: translate(42px, 42px);}
  80% {background-color: #c9c9c9; }
  85% {background-color: #d8d8d8; }
  90% {background-color: #dddddd; }
  95% {background-color: #f2f2f2; }
}



.header{
display: grid;
border-radius: $radius;
grid-area: 1/2/1/span 4;
grid-column-gap: 2px;
grid-row-gap: 2px;
background-color: $light_black; /*Come back to this*/
padding: 1em;
margin-bottom:0;
}


.graygrid{
  display: grid;
  border-radius: $radius;
  grid-area: 2/2/2/span 3;
  grid-template-columns: repeat(14, 1fr);
  margin-top: 0;
  height: 50px;
  align-self: flex-start;
   /*Come back to this*/

}


.home-title-grid{
  display: grid;
  grid-area: 1/1/1/1;
}

.main1{
display: grid;
grid-column-gap: 0px;
grid-row-gap: 0px;
grid-area: 3/2/span 4/2;
border-color: $black_alt;

}
.main2{
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 3/3/span 4/3;

}

.sidebar-left{
display: grid;
grid-area: 3/1/span 4/1;


}


.footer{
  display: grid;
  background-color: $black_alt;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 4/1/4/span 4;
  border-radius: $radius;

  margin-bottom: 0;
}
.container{
  background-color: $white;
  display: grid;
  grid-template-columns:0.5fr 1fr 1fr;
  grid-template-rows: 2/8 minmax(50px,200px) auto 1/8 ;
/*grid-auto-rows: minmax/*(100px, auto); /*Come back to this for responsive design*/
  align-items: center;


}
.fa-shopping-cart{
  color: $white;
  display: grid;
}

.shopping-cart-grid{
  grid-area: 1/12/1/12;
  display: grid;
}
.grid-square1{
@include   grid-info($white);
grid-area: 1/2/1/2;
animation-name: grid-color-migrate-right;
animation-duration: 4s;
animation-iteration-count: infinite;
}

.grid-square2{
  @include   grid-info($white);
  grid-area: 1/3/1/3;
  animation-name: grid-color-up;
  animation-duration: 1.67s;
  animation-iteration-count: infinite;
}
.grid-square3{
  @include   grid-info($white);
  grid-area: 1/3/1/3;
  animation-name: grid-color-migrate-left;
  animation-duration: 3.04s;
  animation-iteration-count: infinite;
}
.grid-square4{
  @include   grid-info($white);
    grid-area: 1/4/1/4;
    animation-name:   grid-color-migrate-right;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.grid-square5{
  @include   grid-info($white);
    grid-area: 1/5/1/5;
    animation-name:   grid-color-up;
    animation-iteration-count: infinite;
    animation-duration: 2.01s;
}
.grid-square6{
  @include   grid-info($white);
    grid-area: 1/6/1/6;
    animation-name:   grid-color-migrate-right;
    animation-iteration-count: infinite;
    animation-duration: 3.2s;
}
.grid-square7{
  @include   grid-info($white);
    grid-area:1/7/1/7;
    animation-name:   grid-color-migrate-left;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.grid-square8{
  @include   grid-info($white);
    grid-area:1/8/1/8;
    animation-name:   grid-color-up;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
}
.grid-square9{
  @include   grid-info($white);
    grid-area:1/9/1/9;
    animation-name:   grid-color-migrate-right;
    animation-iteration-count: infinite;
    animation-duration: 2.2s;
}
.grid-square10{
  @include   grid-info($white);
    grid-area:1/10/1/10;
    animation-name:   grid-color-migrate-left;
    animation-iteration-count: infinite;
    animation-duration: 2.03;
}
.grid-square11{
  @include   grid-info($white);
    grid-area:1/11/1/11;
    animation-name:   grid-color-up;
    animation-iteration-count: infinite;
    animation-duration: 1.04s;
}
.grid-square12{
  @include   grid-info($white);
    grid-area:2/1/2/1;
    animation-name:   grid-color-migrate-right;
    animation-iteration-count: infinite;
    animation-duration: 2.7s;
}
.grid-square13{
  @include grid-info ( $white);
    animation-name: grid-color-migrate-left;
    animation-duration: 3.09s;
    animation-iteration-count: infinite;
    grid-area:2/2/2/2;
}

.grid-square14{
  @include   grid-info($white);
    grid-area:2/3/2/3;
    animation-name: grid-color-up;
    animation-duration: 1.05;
    animation-iteration-count: infinite;
}
.grid-square15{
  @include   grid-info($white);
    grid-area:2/4/2/4;
    animation-name: grid-color-migrate-right;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
}
.grid-square16{
  @include   grid-info($white);
    grid-area:2/5/2/5;
    animation-name: grid-color-up;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
}
.grid-square17{
  @include grid-info($white);
  animation-name: grid-color-migrate-left;
  animation-duration: 4.15s;
  animation-iteration-count: infinite;
    grid-area:2/6/2/6;
}

.grid-square18{
  @include   grid-info($white);
    grid-area:2/7/2/7;
    animation-name: grid-color-up;
    animation-duration: 2.97s;
    animation-iteration-count: infinite;
}
.grid-square19{
  @include   grid-info($white);
    grid-area:2/8/2/8;
    animation-name: grid-color-migrate-right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.grid-square20{
  @include   grid-info($white);
    grid-area:2/9/2/9;
    animation-name: grid-color-migrate-left;
    animation-duration: 4.09s;
    animation-iteration-count: infinite;
}
.grid-square21{
  @include   grid-info($white);
    grid-area:2/10/2/10;
    grid-area:3/9/3/9;
    animation-name: grid-color-up;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
}
.grid-square22{
  @include   grid-info($white);
    grid-area:2/11/2/11;
    grid-area:3/9/3/9;
    animation-name: grid-color-up;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
}
.grid-square23{
  @include   grid-info($white);
    grid-area:2/12/2/12;
    animation-name: grid-color-up;
    animation-duration: 5.09s;
    animation-iteration-count: infinite;
}
.grid-square24{
  @include   grid-info($white);
    grid-area:2/13/2/13;
    grid-area:3/9/3/9;
    animation-name: grid-color-migrate-right-right;
    animation-duration: 3.9;
    animation-iteration-count: infinite;
}
.grid-square25{
  @include   grid-info($white);
    grid-area:2/14/2/14;
    animation-name: grid-color-up;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}
.grid-square26{
  @include   grid-info($white);
    grid-area:3/1/3/1;
    animation-name: grid-color-up;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
}
.grid-square27{
  @include   grid-info($white);
    grid-area:3/2/3/2;
    animation-name: grid-color-migrate-left;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
}
.grid-square28{
  @include   grid-info($white);
  grid-area:3/3/3/3;
  animation-name: grid-color-up;
  animation-duration: 2.6s;
  animation-iteration-count: infinite;
}
.grid-square29{
  @include   grid-info($white);
    grid-area:3/4/3/4;
}
.grid-square30{
  @include   grid-info($white);
  animation-name: grid-color-up;
  animation-duration: 3.67s;
  animation-iteration-count: infinite;
  grid-area:3/5/3/5;
}
.grid-square31{
  @include   grid-info($white);
    grid-area:3/6/3/6;
    grid-area:3/9/3/9;
    animation-name: grid-color-up;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.grid-square32{
  @include   grid-info($white);
  animation-name: grid-color-up;
  animation-duration: 3.09s;
  animation-iteration-count: infinite;
    grid-area:3/7/3/7;
}
.grid-square33{
  @include   grid-info($white);
  animation-name: grid-color-up;
  animation-duration: 3.003s;
  animation-iteration-count: infinite;
    grid-area:3/8/3/8;
}
.grid-square34{
  @include   grid-info($white);
  grid-area:3/9/3/9;
  animation-name: grid-color-up;
  animation-duration: 4.1;
  animation-iteration-count: infinite;
}
.grid-square35{
  @include   grid-info($white);
  animation-name: grid-color-migrate-right-right;
  animation-duration: 3.82s;
  animation-iteration-count: infinite;
  grid-area:3/10/3/10;
}
.grid-square36{
  @include   grid-info($white);
  grid-area:3/11/3/11;
  animation-name: grid-color-migrate-right-right;
  animation-duration: 3.9;
  animation-iteration-count: infinite;
}


.grid-square37{
  @include   grid-info($white);
  grid-area:3/12/3/12;
  animation-name: grid-color-up;
  animation-duration: 2.6s;
  animation-iteration-count: infinite;
}
.grid-square38{
  @include   grid-info($white);
  grid-area:3/13/3/13;
  animation-name: grid-color-up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.grid-square39{
  @include   grid-info($white);
  grid-area:3/14/3/14;
  animation-name: grid-color-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.grid-square39{
  @include   grid-info($white);
  grid-area:1/14/1/14;
  animation-name: grid-color-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.grid-square40{
  @include   grid-info($white);
  grid-area:4/1/4/1;
  animation-name: grid-color-up;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
.grid-square41{
  @include   grid-info($white);
  grid-area:4/2/4/2;
  animation-name: grid-color-migrate-left;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
}
.grid-square42{
  @include   grid-info($white);
  grid-area:4/3/4/3;
  animation-name: grid-color-migrate-right;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
}
.grid-square43{
  @include   grid-info($white);
  grid-area:4/5/4/5;
  animation-name: grid-color-up;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.grid-square44{
  @include   grid-info($white);
  grid-area:4/6/4/6;
  animation-name: grid-color-migrate-left;
  animation-duration: 3.02s;
  animation-iteration-count: infinite;
}
.grid-square45{
  @include   grid-info($white);
  grid-area:4/7/4/7;
  animation-name: grid-color-migrate-right;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
.grid-square46{
  @include   grid-info($white);
  grid-area:4/8/4/8;
  animation-name: grid-color-up;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
}
.grid-square47{
  @include   grid-info($white);
  grid-area:4/8/4/8;
  animation-name: grid-color-migrate-left;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}
.grid-square48{
  @include   grid-info($white);
  grid-area:4/9/4/9;
  animation-name: grid-color-migrate-right;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.grid-square49{
  @include   grid-info($white);
  grid-area:4/10/4/10;
  animation-name: grid-color-up;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}
.grid-square50{
  @include   grid-info($white);
  grid-area:4/11/4/11;
  animation-name: grid-color-migrate-left;
  animation-duration: 2.3;
  animation-iteration-count: infinite;
}
.grid-square51{
  @include   grid-info($white);
  grid-area:4/12/4/12;
  animation-name: grid-color-migrate-right;
  animation-duration: 3.04s;
  animation-iteration-count: infinite;
}
.grid-square52{
  @include   grid-info($white);
  grid-area:4/13/4/13;
  animation-name: grid-color-up;
  animation-duration: 2.22s;
  animation-iteration-count: infinite;
}
.grid-square53{
  @include   grid-info($white);
  grid-area:4/14/4/14;
  animation-name: grid-color-left;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.header-second-row{

}

.header-third-row{

}


h1{
  color: $white;
}
h2{
  color:$light_black;
}

.logo{
  display: grid;
  grid-area: 1/1/1/1;
  max-width: 200px;
  height: auto;
}


.info{
  @include information($white);
}
